::-webkit-scrollbar {
  width: 0.3125rem;
}

::-moz-scrollbar {
  width: 0.3125rem;
}

::-o-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.25rem;
}

::-moz-scrollbar:horizontal {
  height: 0.25rem;
}

::-o-scrollbar:horizontal {
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d14d;
  border-radius: 10px;
}

::-moz-scrollbar-track {
  background: #d1d1d14d;
  border-radius: 10px;
}

::-o-scrollbar-track {
  background: #d1d1d14d;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card-bg);
  opacity: 0.7;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: var(--card-bg);
  opacity: 0.7;
  border-radius: 10px;
}

::-o-scrollbar-thumb {
  background: var(--card-bg);
  opacity: 0.7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--card-bg);
}

::-moz-scrollbar-thumb:hover {
  background: var(--card-bg);
}

::-o-scrollbar-thumb:hover {
  background: var(--card-bg);
}
