:root {
  --body-bg: #050505;
  --text-main-color: #1e90ff;
  --bg-main-color: #1e90ff;

  --bg-white-color: #ffffff;
  --text-white-color: #ffffff;

  --bg-dark-color: #333;
  --text-dark-color: #333;

  --text-muted-color: #9b9b9b;
  --card-bg: #242424;
}
