<div class="input-group  px-3 py-2" role="search">
  <span class="input-group-text bg-transparent border-0 p-0" id="basic-addon1">
    <i class="pi pi-search text-white-color"></i>
  </span>
  <input type="text" class="form-control bg-transparent border-0 text-white-color"
    placeholder="Enter a domain address to search..." aria-label="Username" aria-describedby="basic-addon1">
  <span class="input-group-text bg-transparent border-0 p-0" id="basic-addon1">
    <button class="btn search-btn rounded-pill px-3 py-1">Search</button>
  </span>
</div>
