.aside-menu {
  background-color: var(--card-bg);
  position: fixed;
    width: 14rem;
  .logo {
    height: 4rem;
    border-bottom: 1px solid #ffffff30;
    img {
      height: fit-content;
      margin: auto;
    }
  }
  .aside-content {
    height: calc(100vh - 4rem);
    overflow: auto;
    .aside-link {
      border-left: 2px solid transparent;
      &.aside-link-active {
        background-color: #333;
        border-color: var(--bg-main-color);
      }
    }
  }
}
